# Go
/bin/
/dist/
*.test
*.out
go.work

# Results
results/*
!results/.gitkeep
!results/go.mod
external/v5/*
!external/v5/.gitignore

# OS / editor
.DS_Store
.vscode/
.idea/

# Temporary
tmp/
*.log.venv/
.venv/

# Python cache
__pycache__/
*.pyc
